@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    234.456.6778
</address>

<address>
    <strong>Support:</strong> <a href="mailto:200449036@student.georgianc.on.ca">200449036@student.georgianc.on.ca</a><br />
</address>
